<h1>Welcome to rottenmangoes.com, <%= @user.full_name %></h1>
<p>
You have successfully signed up to rottenmangoes.com,
your username is: <%= @user.full_name %>.<br>
</p>
<p>
To view some movies follow this link: <%= link_to "Movies", movies_path %>
</p>
<p>Thanks for joining and have a great day!</p>

